# pip install pyTelegramAPI
# pip install uvloop
# pip install ujson

# Check if your Python version is up-to-date.
# Create config.py file which contains your bot token.

https://download.pytorch.org/whl/cpu/torch-1.1.0-cp37-cp37m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.3.0-cp37-cp37m-linux_x86_64.whl
fastai
# torch~=1.7.0
matplotlib~=3.3.2
#torchvision~=0.8.1
Pillow~=8.0.1
aiogram~=2.11.2