# pip install pyTelegramAPI
# pip install uvloop
# pip install ujson

# Check if your Python version is up-to-date.
# Create config.py file which contains your bot token.

pip install torch==1.7.1+cpu torchvision==0.8.2+cpu torchaudio==0.7.2 -f https://download.pytorch.org/whl/torch_stable.html
# torch~=1.7.0
matplotlib~=3.3.2
#torchvision~=0.8.1
Pillow~=8.0.1
aiogram~=2.11.2